 
        /* ===== CSS ===== */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #4facfe, #00f2fe);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            transition: 0.5s;
        }

        .weather-app {
            background: white;
            padding: 30px;
            border-radius: 15px;
            text-align: center;
            width: 320px;
            box-shadow: 0 10px 25px rgba(48, 238, 10, 0.2);
        }

        .search-box {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }

        select {
            flex: 1;
            padding: 8px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        button {
            padding: 8px 12px;
            border: none;
            border-radius: 8px;
            background: #4facfe;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #00c6ff;
        }

        .weather-card p {
            margin: 5px 0;
        }
    